@CHARSET "ISO-8859-1";
/* Reset CSS
 * --------------------------------------- */
@font-face {
    font-family: 'Verdana'; 
    src: url('verdana.ttf'); 
}

body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,
form,fieldset,input,textarea,p,blockquote,th,td {
    padding: 0;
    margin: 0;
    text-transform: uppercase;
}
a{
	text-decoration:none;
}
table {
    border-spacing: 0;
}
fieldset,img {
    border: 0;
}
address,caption,cite,code,dfn,em,strong,th,var {
    font-weight: normal;
    font-style: normal;
}
strong{
	font-weight: bold;
}
ol,ul {
    list-style: none;
    margin:0;
    padding:0;
}
caption,th {
    text-align: left;

}
h1,h2,h3,h4,h5,h6 {
    font-weight: bold;
    font-size: 24px;
    margin:0;
    padding:0;
    color:#444;
}
q:before,q:after {
    content:'';
}
abbr,acronym { border: 0;
}


/* Custom CSS
 * --------------------------------------- */
body{
	font-family: "Verdana";
	color: #333;
	color: rgba(0,0,0,0.5);
}
.wrap{
	margin-left: auto;
	margin-right: auto;
	width: 960px;
	position: relative;
}
h1{
	font-size: 3em;
}
p{
	font-size: 24px;
	color: #fff;
	text-transform: capitalize; ;
	font-weight: 100;
}
.intro p{
	width: 50%;
	margin: 0 auto;
	font-size: 1.5em;
}
.section{
	text-align:center;
}
#menu li {
	display:inline-block;
	color: #fff;
	background-color: transparent;
	
}
#menu li.active{
	background:transparent;
	color: #34cc93;
}
#menu li a{
	text-decoration:none;
	color: #fff;
}
#menu li.active a:hover{
	color: #34cc93;
}
#menu li:hover{
	background: transparent;
}

#menu li:hover a{
	color: #34cc93;
}
#menu li a,
#menu li.active a{
	padding: 9px 18px;
	display:block;
}
#menu li.active a{
	color: #34cc93;
}
#menu{
	position:fixed;
	top:0;
	left:0;
	height: 40px;
	z-index: 70;
	width: 100%;
	padding: 0;
	margin:0;
}
.twitter-share-button{
	position: fixed;
	z-index: 99;
	right: 149px;
	top: 9px;
}
#download{
	margin: 10px 0 0 0;
	padding: 15px 10px;
	color: #fff;
	text-shadow: 0 -1px 0 rgba(0,0,0,0.25);
	background-color: #49afcd;
	background-image: -moz-linear-gradient(top, #5bc0de, #2f96b4);
	background-image: -ms-linear-gradient(top, #5bc0de, #2f96b4);
	background-image: -webkit-gradient(linear,0 0,0 100%,from( #5bc0de),to( #2f96b4));
	background-image: -webkit-linear-gradient(top, #5bc0de, #2f96b4);
	background-image: -o-linear-gradient(top, #5bc0de, #2f96b4);
	background-image: linear-gradient(top, #5bc0de, #2f96b4);
	background-repeat: repeat-x;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#5bc0de', endColorstr='#2f96b4', GradientType=0);
	border-color: #2f96b4 #2f96b4 #1f6377;
	border-color: rgba(0,0,0,.1) rgba(0,0,0,.1) rgba(0,0,0,.25);
	filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);

	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
	vertical-align: middle;
	cursor: pointer;
	display: inline-block;
	-webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,0.2),0 1px 2px rgba(0,0,0,0.05);
	-moz-box-shadow: inset 0 1px 0 rgba(255,255,255,0.2),0 1px 2px rgba(0,0,0,0.05);
	box-shadow: inset 0 1px 0 rgba(255,255,255,0.2),0 1px 2px rgba(0,0,0,0.05);
}
#download a{
	text-decoration:none;
	color:#fff;
}
#download:hover{
	text-shadow: 0 -1px 0 rgba(0,0,0,.25);
	background-color: #2F96B4;
	background-position: 0 -15px;
	-webkit-transition: background-position .1s linear;
	-moz-transition: background-position .1s linear;
	-ms-transition: background-position .1s linear;
	-o-transition: background-position .1s linear;
	transition: background-position .1s linear;
}
#infoMenu{
	height: 20px;
	color: #f2f2f2;
	position:fixed;
	z-index:70;
	bottom:0;
	width:100%;
	text-align:right;
	font-size:0.9em;
	padding:8px 0 8px 0;
}
#infoMenu ul{
	padding: 0 40px;
}
#infoMenu li a{
	display: block;
	margin: 0 22px 0 0;
	color: #333;
}
#infoMenu li a:hover{
	text-decoration:underline;
}
#infoMenu li{
	display:inline-block;
	position:relative;
}
#examplesList{
	display:none;
	background: #282828;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
	padding: 20px;
	float: left;
	position: absolute;
	bottom: 29px;
	right: 0;
	width:638px;
	text-align:left;
}
#examplesList ul{
	padding:0;
}
#examplesList ul li{
	display:block;
	margin: 5px 0;
}
#examplesList ul li a{
	color: #BDBDBD;
	margin:0;
}
#examplesList ul li a:hover{
	color: #f2f2f2;
}
#examplesList .column{
	float: left;
	margin: 0 20px 0 0;
}
#examplesList h3{
	color: #f2f2f2;
	font-size: 1.2em;
	margin: 0 0 15px 0;
	border-bottom: 1px solid rgba(0, 0, 0, 0.4);
	-webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1);
	-moz-box-shadow: 0 1px 0 rgba(255,255,255,0.1);
	box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1);
	padding: 0 0 5px 0;
}



/* Demos Menu
 * --------------------------------------- */
 #demosMenu{
	position:fixed;
	bottom: 10px;
	right:10px;
	z-index: 999;
 }

 .element-animation{
  animation: animationFrames linear 1s;
  animation-iteration-count: infinite;
  transform-origin: 50% 50%;
  -webkit-animation: animationFrames linear 1s;
  -webkit-animation-iteration-count: infinite;
  -webkit-transform-origin: 50% 50%;
  -moz-animation: animationFrames linear 1s;
  -moz-animation-iteration-count: infinite;
  -moz-transform-origin: 50% 50%;
  -o-animation: animationFrames linear 1s;
  -o-animation-iteration-count: infinite;
  -o-transform-origin: 50% 50%;
  -ms-animation: animationFrames linear 1s;
  -ms-animation-iteration-count: infinite;
  -ms-transform-origin: 50% 50%;
}

@keyframes animationFrames{
  0% {
    transform:  translate(117px,-18px)  ;
  }
  10% {
    transform:  translate(117px,-23px)  ;
  }
  14% {
    transform:  translate(117px,-35px)  ;
  }
  27% {
    transform:  translate(117px,-42px)  ;
  }
  57% {
    transform:  translate(117px,-8px)  ;
  }
  77% {
    transform:  translate(117px,39px)  ;
  }
  100% {
    transform:  translate(117px,11px)  ;
  }
  100% {
    transform:  translate(117px,1px)  ;
  }
}

@-moz-keyframes animationFrames{
   0% {
    transform:  translate(117px,-18px)  ;
  }
  10% {
    transform:  translate(117px,-23px)  ;
  }
  14% {
    transform:  translate(117px,-35px)  ;
  }
  27% {
    transform:  translate(117px,-42px)  ;
  }
  57% {
    transform:  translate(117px,-8px)  ;
  }
  77% {
    transform:  translate(117px,39px)  ;
  }
  100% {
    transform:  translate(117px,11px)  ;
  }
  100% {
    transform:  translate(117px,1px)  ;
  }
}

@-webkit-keyframes animationFrames {
  0% {
    transform:  translate(117px,-18px)  ;
  }
  10% {
    transform:  translate(117px,-23px)  ;
  }
  14% {
    transform:  translate(117px,-35px)  ;
  }
  27% {
    transform:  translate(117px,-42px)  ;
  }
  57% {
    transform:  translate(117px,-8px)  ;
  }
  77% {
    transform:  translate(117px,39px)  ;
  }
  100% {
    transform:  translate(117px,11px)  ;
  }
  100% {
    transform:  translate(117px,1px)  ;
  }
}

@-o-keyframes animationFrames {
  0% {
    transform:  translate(117px,-18px)  ;
  }
  10% {
    transform:  translate(117px,-23px)  ;
  }
  14% {
    transform:  translate(117px,-35px)  ;
  }
  27% {
    transform:  translate(117px,-42px)  ;
  }
  57% {
    transform:  translate(117px,-8px)  ;
  }
  77% {
    transform:  translate(117px,39px)  ;
  }
  100% {
    transform:  translate(117px,11px)  ;
  }
  100% {
    transform:  translate(117px,1px)  ;
  }
}
@-ms-keyframes animationFrames {
  0% {
    transform:  translate(117px,-18px)  ;
  }
  10% {
    transform:  translate(117px,-23px)  ;
  }
  14% {
    transform:  translate(117px,-35px)  ;
  }
  27% {
    transform:  translate(117px,-42px)  ;
  }
  57% {
    transform:  translate(117px,-8px)  ;
  }
  77% {
    transform:  translate(117px,39px)  ;
  }
  100% {
    transform:  translate(117px,11px)  ;
  }
  100% {
    transform:  translate(117px,1px)  ;
  }
}

#section0{
	background-image: url(1_1.jpg)!important;
	
}

#section1,#section3{
	padding: 80px;
}

#section2{
	background-image: url(3.jpg)!important;
	-webkit-background-size: contain!important;
	background-size: contain!important;
}



#fp-nav ul li a span, .fp-slidesNav ul li a span{
	background-color: #fff;
	border: 3px solid aqua;
}

.main-menu{
	width: 100%;
	text-align: center;
	
}

#menu{
	display: inline-block;
	background: rgba(29,49,73,.5);
	height: 56px;
	padding-top: 10px;
}

#menu li{
	vertical-align: 20px;
}

#menu a img{
	width: 50px;
	height: 50px;
}

#menu .logo{
	margin: 20px;
}

.top-section p{
	margin-top: 50px;
	margin-bottom: 90px;
}

.top-section a {
	color: #fff;
	border: 1px solid #fff;
	padding: 20px 50px;
	border-radius: 40px;
	transition: all .3s ease;
	margin-right: 30px;
	margin-left: 30px;
}

.left-side,.right-side{
	text-align: left;
}

.left-side .get_start, .right-side .get_start{
	background-color: #34cc93 ;
	display: inline-block;
	color: #fff;
	padding: 10px 40px;
	border-radius: 40px;
	transition: all .3s ease;
}

.top-section a:hover {
	border: 1px solid transparent;
	background-color: #34cc93;
}

.left-side .get_start:hover, .right-side .get_start:hover{
	background-color: rgba(29,49,73,1);
}

a{
	color:#fff;
}

.bot-section{
	position: absolute;
	bottom: 50px;
	left: 0;
	width: 100%;
}

.bot-section .social{
	display: inline-block;
	width: 30%;
}



.bot-section .social i{
	font-size: 20px;
	margin-right: 20px;
	transition: all .3s ease;
	-webkit-transition: all .3s ease;
	-o-transition: all .3s ease;
	-moz-transition: all .3s ease;
}

.bot-section .social i:hover{
	color: #34cc93;
	transform: scale(1.3);
	-webkit-transform: scale(1.3);
	-o-transform: scale(1.3);
	-moz-transform: scale(1.3);

}
.bot-section .phone{
	display: inline-block;
	width: 30%;
	color: #fff;
}

.bot-section .scroll{
	display: inline-block;
	width: 30%;
	position: relative;
}

.bot-section .scroll .animate img{
	animation: animationFrames 2s infinite;
}

.bot-section .scroll .animate a{
	position: absolute;
    left: 0;
    bottom: 10px;
}

.left-side, .right-side{
	display: inline-block;
	width: 45%;
	color: rgba(29,49,73,1);
	vertical-align: text-top;	
}

.right-side{
	padding-left: 70px;
}

#section1 p,#section3 p{
	color: #000;
	text-align: left;
	font-size: 14px;
	margin-bottom: 40px;
	line-height: 2;
}

#section1 h2,#section3 h2{
	margin-bottom: 50px;
	text-align: left;
	font-weight: bold;
	font-size: 30px;
	color: rgba(29,49,73,1);
}

.right-side ul li{
	display: inline-block;
	width: 35%;
	padding-left: 50px;

}

.right-side ul li h3{
	font-size: 12px;
	color: #34cc93;
	margin-bottom: 10px;
	white-space: nowrap;
}

#section1 .right-side ul li p,#section3 .right-side ul li p{
	font-size: 10px;
	line-height: inherit;
}

#section1 .right-side ul li:nth-child(1),#section3 .right-side ul li:nth-child(1){
	background-image: url(ico1.png);
	background-repeat: no-repeat;
	background-position: left top;
}

#section1 .right-side ul li:nth-child(2),#section3 .right-side ul li:nth-child(2){
	background-image: url(ico2.png);
	background-repeat: no-repeat;
	background-position: left top;
}

#section1 .right-side ul li:nth-child(3),#section3 .right-side ul li:nth-child(3){
	background-image: url(ico3.png);
	background-repeat: no-repeat;
	background-position: left top;
}

#section1 .right-side ul li:nth-child(4),#section3 .right-side ul li:nth-child(4){
	background-image: url(ico4.png);
	background-repeat: no-repeat;
	background-position: left top;
}